@typeparam T

<tr>
    @foreach (var columnFilter in TopPage.ColumnFilters)
    {
        <td>
            <div>
                @{
                    var columnValue = dataItem.GetType().GetProperty(columnFilter.ColumnName)?.GetValue(dataItem, null);
                }
                @if (columnValue != null)
                {
                    <div>
                        @if (columnFilter.HasLinkAction)
                        {
                            <a class="link-primary fw-bold text-decoration-none"
                   style="cursor:pointer;"
                   title="@String.Format("View info for this {0}",columnFilter.DisplayName)"
                   @onclick="() => LinkAction(columnFilter.ColumnName)"
                   @onclick:preventDefault>
                                @(columnValue)
                            </a>
                        }
                        else
                        {
                            if (columnFilter.ColumnType == TypeCode.DateTime && (DateTime)columnValue == DateTime.MinValue)
                            {
                                <span></span>
                            }

                            @if (columnFilter.ColumnType == TypeCode.Decimal)
                            {
                                <span>£</span>
                            }

                            if (columnFilter.ColumnType == TypeCode.DateTime && (DateTime)columnValue != DateTime.MinValue)
                            {
                                var theDate = (DateTime)columnValue;
                                <span>@theDate.ToShortDateString()</span>
                            }
                            else
                            {

                                <span>@(columnValue)</span>
                            }
                        }

                    </div>

                    <div>
                        @if ((columnFilter.ColumnType == TypeCode.String || columnFilter.ColumnType == TypeCode.Int32)
                       && !String.IsNullOrWhiteSpace(columnValue.ToString()))
                        {
                            <a class="link-primary fw-bold text-decoration-none"
                   style="cursor:pointer;"
                   @onclick="() => SetFilter(columnFilter.ColumnName, columnValue.ToString())"
                   @onclick:preventDefault
                   title="@String.Format("Filter by this {0}",columnFilter.DisplayName)">
                                <EyeIcon style="height:20px;" />
                            </a>
                        }
                    </div>
                }
            </div>
        </td>
    }
    <td></td>
</tr>